/* src/styles/Dashboard.module.css */

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    gap: 40px; /* Space between cards */
    padding: 20px; /* Add padding around the grid */
  }
  
  @media (max-width: 768px) {
    .dashboard {
      grid-template-columns: 1fr; /* Stack cards in one column for smaller screens */
    }
  }
  
  .nestedCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }