.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* background: radial-gradient(circle, rgba(238, 207, 174, 1) 0%, rgba(255, 255, 255, 1) 71%); */
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  width: 550px; /* Set the same width for all cards */
  height: 350px; /* Set the same height for all cards */
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Circular frame */
  background-color: white; /* Icon frame background */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Frame shadow */
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.cardbutton {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-top: 10px;
}

.card-button:hover {
  background: var(--buttonHoverBackground, white);
}


/* src/components/card/NestedCard.module.css */
.nestedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin: 15px;
  border: 1px solid #f8f4f4;
  border-radius: 8px;
  background: #f8f4f4;
  width: 100px; /* Set a fixed width for uniformity */
  height: 200px; /* Keep the height consistent */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}
.nestedCardImage {
  margin-bottom: 10px;
  width: 50px; /* Adjust image container size */
  height: 50px;
}

.image {
  max-width: 40px;/* Ensure the image fits inside the container */
  max-height: 40px;
  object-fit: cover; /* Keeps the aspect ratio */
}

.nestedTitle {
  margin-bottom: auto;
  text-align: center;
}

.nestedButton {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  align-self: stretch;
  text-align: center;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Diameter of the circular frame */
  height: 80px; /* Diameter of the circular frame */
  border-radius: 50%; /* Makes it circular */
  background-color: white; /* Background for the frame */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  margin-bottom: 10px; /* Spacing below the icon */
}

.dot {
  width: 10px; /* Size of the dot */
  height: 10px;
  border-radius: 50%;
}
