/* src/app/components/Navbar/Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);

  }
  
  .logo {
    display: flex;
    align-items: center;

  }
  .logoTitle{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .logoImage {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 1rem;
  }
  
  .subtitle {
    /* margin-top: 10px; */
    font-size: 1rem;
    color: gray; /* Adjust color if needed */
  }
  
  .rightSection {
    display: flex;
    align-items: center;
  }
  

  .searchContainer {
    position: relative; /* Required for absolute positioning of the icon */
    
  }

  .search {
    width: 60%;
    padding: 8px 8px 8px 32px; /* Add padding to the left for the icon */
    box-sizing: border-box; /* Ensure padding is included in the width */
    border: none; /* Add border to input field */
    border-radius: 4px; /* Optional: Add border radius to input field */

  }
  
  /* Search icon */
  .searchIcon {
    position: absolute; /* Position the icon inside the input field */
    left: 10px; /* Adjust the position to your liking */
    top: 50%;
    transform: translateY(-50%); /* Center the icon vertically */
    pointer-events: none; /* Prevents the icon from blocking input interactions */
    color: #888; /* Optional: Change the color of the icon */
  }
  
  .languageDropdown {
    margin-right: 40px;
    padding: 5px;
    background-color: white;
    border: none;
    
    
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .name {
    margin-right: 10px;
  }
  
  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
  }