/* src/app/components/Layout/Layout.module.css */

.layout {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
  }
  
  .mainContent {
    margin-left: 200px; /* Adjust this value to match the width of your sidebar */
    padding: 20px;
    flex: 1;
    overflow: auto; /* Allows scrolling if content overflows */
  }